<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657079154801-37b5j2ctqimd86qceqsnmffnf2nfcetd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657079154801-37b5j2ctqimd86qceqsnmffnf2nfcetd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657079154801-m36mtqd13g0lfeei90ctiia1gd6ghgti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEq58UH54fdzhH-GbYBRwVdaINnqT8vio</string>
	<key>GCM_SENDER_ID</key>
	<string>657079154801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jynx.djapp</string>
	<key>PROJECT_ID</key>
	<string>jynx-86418</string>
	<key>STORAGE_BUCKET</key>
	<string>jynx-86418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657079154801:ios:4ac260dc06b72e9fbf03d0</string>
</dict>
</plist>